*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    /* background: black; */
}
h1{
    color: white;
    font-size: 4rem;
    position: absolute;
} 

#score-player1{
    bottom: 200px;
    left: 800px;
}

#score-player2{
    top: 200px;
    left: 800px;
}

#h{
    height: 40px;
    width: 220px;
    margin-left: 47%;
    font-size: 2rem;
    position: absolute;
    top: 350px;
    
}

p{
    color: white;
    font-size: 2.5rem;
    position: absolute;
}

#computer{
    color: white;
    top: 100px;
    left: 748px;
}

#player{
    color: white;
    bottom: 100px;
    left: 780px;
}