*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: hidden;
}

#game-over{
    color: white;
    font-size: 6rem;
    height: 13rem;
    width: auto;
    /* margin: auto; */
    margin-top: 7rem;
    margin-left: 15rem;
}

#btn{
    height: 4rem;
    width: 15rem;
    font-size: 2rem;
    margin-left: 42rem;
    border: 3px solid gray;
    border-radius: 0.6rem;
    background-color: white;
    margin-top: 5rem;
}

#btn:hover {
    background-image: repeating-linear-gradient(-45deg, 
      #7BDFF2 10px 30px,
      #B2F7EF 30px 50px,
      #EFF7F6 50px 70px,
      #F7D6E0 70px 90px,
      #F2B5D4 90px 110px
  );
    border: 3px solid white;
}

#my-img{
    margin-top: 1rem;
    margin-left: 25rem;
    border: 3px solid white;
}

p{
    margin-left: 33rem;
    margin-top: 1rem;
    color: white;
}
/* label{
    color: white;
    
}  */

/* input{
    margin-top: 5rem;
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
    padding-left: 1rem;
} */

/* #label-input{
    height: 5rem;
    width: auto;
    margin-top: 10rem;
    margin-left: 20rem;
    font-size: 3rem;
    margin: auto;
} */

